name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        linter:
          - eslint
          - prettier

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.2

      - run: yarn
      - run: yarn lint:${{ matrix.linter }}

  commitlint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v2.1.1

  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node_version:
          - 10
          - 12

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.2
        with:
          node-version: ${{ matrix.node_version }}

      - run: yarn
      - run: yarn test

  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' }}
    needs:
    - lint
    - test

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2.1.2
    - run: yarn
    - name: Run Sematic release
      working-directory: ./gatsby-image-gallery
      run: npx semantic-release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
