name: CI

on:
  push:
    branches:
      - main
      - next
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'
      - run: npm --version
      - run: npm i
      - run: npm run lint

  commitlint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v6.2.1

  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node_version:
          - 18
          - 20

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          cache: 'npm'
          node-version: ${{ matrix.node_version }}

      - run: npm --version
      - run: npm i
      - run: npm run build --workspace gatsby-image-gallery
      - run: npm run test --ci --coverage --maxWorkers=2  --workspace gatsby-image-gallery

  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'
      - run: npm i
      - run: npm run build --workspace example
      - name: Deploy to Netlify
        uses: nwtgck/actions-netlify@v3.0
        with:
          publish-dir: 'example/public'
          production-deploy: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
          production-branch: main
          github-token: ${{ secrets.GITHUB_TOKEN }}
          netlify-config-path: ./netlify.toml
          alias: deploy-preview-${{ github.event.number }}
          enable-commit-comment: false
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: 7b425983-6d24-4fa4-b4a4-50a9df5d44c6

  e2e:
    runs-on: ubuntu-latest
    if: ${{ 1 == 0 }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install dependencies
        run: npm i
      - name: Install Playwright
        run: npx playwright install --with-deps
      - name: Build site, serve & run test
        run: |
          npm --workspace example run build
          npm --workspace example run serve-wait
          npm --workspace example test
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-results
          path: example/test-results

  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' }}
    needs:
      - lint
      - test

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v4
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'
      - run: |
          if [[ "$(npm --version | cut -f1-2 -d '.')" == "8.5" ]]
          then 
            npm i -g npm@8.6
          fi
      - run: npm --version
      - run: npm i
      - run: cp README.md gatsby-image-gallery/
      - name: Run Sematic release
        working-directory: ./gatsby-image-gallery
        run: npx semantic-release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
